*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "work sans"sans-serif;
}
html {
    scroll-behavior: smooth;
}

:root{
    --main-color: #10cab7;
    --second-color:#2c4755;
}

.container {
    padding-left:  15px;
    padding-right:  15px;
 margin-left: auto;
 margin-right: auto;

}

/* small  */
@media (min-width:768px ){
    .container{
        width: 750px;  
    }
   
}
/* medium */
@media (min-width:992px ){

.container{
    width: 970px;
}
}
@media (min-width:1200px ){

.container{
    width:1170px;
}
}

/* services */
/* componens  */
.special-heading{

color: #becedb;
font-size: 80px;
text-align: center;
font-weight: 800;
margin: 0;
letter-spacing: -3;

}
.special-heading +p {
    margin: -30px 0 0;
font-size: 20px;
text-align: center;
color: #797977;
margin-top: 6px;
}

.header{
    padding: 20px;

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
} 
.header .links{
    position: relative;

}
.header .links .icon{
   width: 40px; 
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;

}
.header .links .icon span{
    background-color: black;
    margin-bottom: 5px;

}
.header .links .icon span:first-child{
    height: 3px;
    width: 100%;
}
.header .links .icon span:nth-child(2){
    height: 3px;
    width:60%;

}
.header .links .icon span:nth-child(3){
height: 3px;
width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(224, 231, 238);
    position: absolute;
    right: 0;
    min-width: 180px;
    top: calc(100% + 15px);
    display: none;
    border-radius: 8px;
    z-index: 1;
    
}
.header .links ul ::before{
    content: "";

    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent   rgb(166, 174, 181) transparent;
right: 5px;
top: -19px;

}
.header .links:hover  ul{
    display: block;

}
.header .links ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;

}
.header .links ul li a:hover{
    padding-left: 25%;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #646060 ;

}

/* ***************** */
.landing  {
   background-image: url(../image/download.jpeg);
   background-size: cover;
   /* ملحوظه شيلنا 100 بتوع العنوان لكي يملئ الشاشه */
   height: calc(100vh - 100px);
   opacity:1;

}
.landing .intro-text{
    position:absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;

}
.landing .intro-text h1{
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
    transition: 0.3s;

}
.landing .intro-text h1:hover{
    margin-top: 20px;
    color: rebeccapurple;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;

}

/* *************** */
.features {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #f6f6f6; 

}
.features .container {
    display: grid;
    grid-template-columns: repeat( auto-fill,  minmax(300px , 1fr));
   grid-gap: 20px;
}
.fa-cloudflare:before{
    font-size: 50px;
}
.features .feat{
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.features .feat i{
    color: var(--main-color);
transition: 0.3s;
}
.features .feat i:hover{
    color: red;
    transform: rotate(180deg);
}
.features .feat h3{
    font-size:20px ;
    margin: 30px 0;
    font-weight: 800;

}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 18px;

}
/* ************** */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-contect {
    display: grid;
    grid-template-columns: repeat( auto-fill,  minmax(300px , 1fr));
    gap: 30px;
    margin-top: 80px;

}
.services .services-contect .srv{
    display: flex;
    margin-bottom: 50px;

}
@media(max-width: 767px){
    .services .services-contect .srv{
        display: flex;
        text-align: center;
        flex-direction: column;

}
}
.services .services-contect .srv i{
     color: var(--main-color);
     flex-basis: 60px;
     transition: 0.3s;

}
.services .services-contect .srv i:hover{
    color: rebeccapurple;
    transform: rotate(5deg);
}
.services .services-contect .srv .text{
    flex: 1;

}
.services .services-contect .srv .text h3{
    margin: 0;
   font-weight: bold;

}
.services .services-contect .srv .text p{
    color: #777;
    line-height: 1.7;
font-weight: 300;
}
.services .services-contect .image {
    position: relative;
    text-align: center;

}
.services .services-contect .image img {
    width: 362px;;
    height: 360px;;
    
}

.services .services-contect .image::before {
    content: "";
    background-color: var(--second-color);
    width: 123px;
    top: -47px;
    position: absolute;
    right: -25px;
    z-index: -1;
    height: calc(100% + 91px);
}
@media(max-width: 1199px) {
    .image-coln{
        display: none;
    }
    }

       

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6; 

}
.protfolio .protfolio-contact{
    display: grid;
    grid-template-columns: repeat( auto-fill,  minmax(300px , 1fr));
    gap: 30px;
    margin-top: 80px;
}
.protfolio  .card {
   margin-bottom: 5px;
    background-color: white;

}

@media(max-width: 767px){
    .protfolio .card {
        display: flex;
        text-align: center;
        flex-direction: column;

}
}
.protfolio .card .info {
    padding: 20px;
}
.protfolio .card img {
    max-width: 100%;
}
.protfolio  .card .info  h3 {
    margin: 0;
    font-weight: bold;
    transition: 0.3s;
 
}
.protfolio  .card .info  h3:hover{
    margin: 0;
    font-weight: bold;
    color: var(--main-color);
    padding-left: 20px;
 
}
.protfolio  .card .info  p {
    color: #777;
    line-height: 1.7;
font-weight: 300;
margin-bottom: 0;
}
/* ****************** */

.about{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6; 

}
.about .aboutcontent {
margin-top: 100px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
text-align: center;
justify-content: space-between;
}
.about .aboutcontent .image {
    position: relative;
    width: 400px;
    height: 100%;
}
.about .aboutcontent .image::before{
    content: "";
    position: absolute;
    width: 51px;
    height: calc(100% + 51px);
    top: -31px;
    left: 33px;
    z-index: 1;
    background-color: #cacdd0;
}
.about .aboutcontent .image img {
    position: relative;
    border-style: none;
    z-index: 2;
}

.about .aboutcontent .text {
    color: #777;
    padding: 20px;
    flex: 1;
    flex-direction: column;
   font-weight: bold;
   line-height: 2;
}
.about .aboutcontent .text hr {
    width: 50%;
     border: 2px solid var(--main-color);
     display: inline-block;

}
/* ******************* */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:white; 

}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

}
.contact .info .lable {
    font-size: 30px;
    font-weight: 800;
color: var(--second-color);
letter-spacing: -2px;
margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}a
.contact .info .social{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
    color: rgb(70, 163, 221);
}
.contact .info .social i{
    margin-left: 15px;
    color: var(--second-color);
}
.contact .info .social a:nth-child(1) i:hover{
    color: red;
}
.contact .info .social a:nth-child(2) i:hover{
    color: blue;
}
.contact .info .social a:nth-child(3) i:hover{
    color: green;
}
/* *********************** */
.footer{
padding: 20px;
text-align: center;
font-size: 20px;
color:rgb(255, 248, 248);
background-color: #333;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
